.copyright__text {
  font-family: "PT Sans", "Arial", sans-serif;
  color: @color-text-grey;
  font-style: normal;
  font-weight: normal;
  font-size: @font-size-min;
  line-height: 26px;
  text-transform: uppercase;
}
