.page-main__title {
  &--white {
    color: @color-text-white;
  }
}

.page-main__description {
  font-family: "PT Sans", "Arial", sans-serif;
  color: @color-text-grey;
  font-style: normal;
  font-size: @font-size-min;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  &--white {
    color: @color-text-white;
  }
}
