.page-footer {
  margin-top: 30px;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.page-footer__visitsedona {
  color: @color-text;
  font-style: normal;
  font-weight: bold;
  font-size: @font-size-big;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.page-footer__social {
  display: flex;
  justify-content: center;
}

.social__list {
  display: flex;
  justify-content: center;
  padding: 0;
}

.social__item {
  width: 46px;
  height: 48px;
  display: flex;
  background-color: @color-background-blue;
  margin: 3px;
}

.social__link {
  margin: auto;
}

.page-footer__copyright {
  text-align: center;
  padding: 20px 0 20px 0;
}
