.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @color-background;
  margin: 0;
}

.page-header__logo {
  text-align: center;
  z-index: 10;

  img {
    width: 102px;
    height: 84px;
  }

  @media (min-width: @tablet-width) {
    position: absolute;
  }

  @media (min-width: @desktop-width) {
    img {
      width: 186px;
      height: auto;
    }
  }
}

.page-header__welcome {
  position: relative;
  width: 100%;
  height: 389px;
  text-align: center;
  background-color: #81b3d281;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  padding-top: 90px;

  img {
    width: 282px;
    height: 214px;
  }

  &--inside img {
    width: 230px;
    height: 40px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: cover;
  }

  @media (max-width: @mobile-width-only) {
    margin-top: -31px;

    &--inside img {
      position: absolute;
      top: 52px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (min-width: @tablet-width) {
    height: 518px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    padding-top: 80px;

    img {
      width: 460px;
      height: auto;
    }

    &--text img {
      width: 430px;
      height: auto;
    }

    &--inside img {
      position: absolute;
      top: 94px;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    &--inside img {
      top: 101px;
    }
  }

  &--up {
    height: 158px;
    background-position: bottom;

    @media (min-width: @tablet-width) {
      height: 290px;
    }

    @media (min-width: @desktop-width) {
      height: 300px;
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 57px;
    bottom: -32px;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    @media (min-width: @tablet-width) {
      width: 768px;
      bottom: -1px;
      background-image: url("../img/bg-intro-triangle-tablet.svg");
    }

    @media (min-width: @desktop-width) {
      width: 1200px;
      background-image: url("../img/bg-intro-triangle-desktop.svg");
    }
  }
}
