.page-body {
  min-width: 320px;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  color: @color-text;
  background-color: @color-background;
  margin: 0;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @desktop-width) {
    max-width: 1200px;
    box-shadow: 0 0 15px 0 fade(#000000, 30%);
  }
}
