.page-main__header {
  max-width: 560px;
  min-height: 206px;
  margin: auto;
  padding-top: 32px;

  &--inside {
    max-width: 474px;
  }

  &--height {
    min-height: 190px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 44px;

    &--height {
      min-height: 245px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 80px;

    &--height {
      min-height: 285px;
    }
  }
}

.page-main__h1 {
  font-style: bold;
  font-weight: 700;
  font-size: @font-size;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin: auto 10px 32px 10px;

  @media (min-width: @tablet-width) {
    font-size: @font-size-big;
  }

  @media (min-width: @desktop-width) {
    margin-top: 10px;
  }

  &--inside {
    margin-bottom: 28px;

    @media (min-width: @tablet-width) {
      font-size: 30px;
      margin-top: 20px;
      margin-bottom: 32px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 34px;
    }
  }
}

.page-main__title {
  font-style: normal;
  font-weight: 700;
  font-size: @font-size;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  &--inside {
    padding-top: 31px;
  }
}

.page-main__description {
  color: @color-text-grey;
  font-style: normal;
  font-size: @font-size-min;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  overflow-wrap: manual;
  margin: 0;
  padding: 0;
  /*margin: 16px 11px auto 11px;*/

  &--up {
    line-height: 26px;
  }

  &--inside {
    line-height: 24px;
  }
}
