.page-header {
  background-color: @color-background;
  margin: 0;
}

.page-header__welcome {
  width: 320px;
  height: 389px;
  background-color: @color-background-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
}

.page-header__image {
  width: 320px;
  height: 214px;
  background-color: @color-background-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
}
