.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 240px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 120px;
    padding: 36px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 98px;
    padding-right: 98px;
  }
}

.page-footer__visitsedona {
  align-self: center;
  color: @color-text;
  font-style: normal;
  font-weight: 700;
  font-size: @font-size-big;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;

  p {
    margin: 0;
    margin-top: 20px;

    @media (min-width: @tablet-width) {
      padding-left: 23px;
      margin: 0;
    }
  }
}
