.page-main__header {
  max-width: 520px;
  padding-top: 45px;
  margin: auto;
}

.page-main__h1 {
  font-style: normal;
  font-weight: bold;
  font-size: @font-size-big;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.page-main__title {
  font-style: normal;
  font-weight: bold;
  font-size: @font-size;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-top: 40px;

  &--white {
    color: @color-text-white;
  }
}

.page-main__description {
  color: @color-text-grey;
  font-style: normal;
  font-size: @font-size-min;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  &--white {
    color: @color-text-white;
  }
}
