.realsity {
  list-style: none;
  background-color: @color-background;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
  }
}

.realsity__item {
  position: relative;
  padding-left: 70px;
  padding-right: 20px;
  margin: 0;

  @media (min-width: @tablet-width) {
    text-align: center;
    padding: 140px 31px 0 31px;
    margin-bottom: 50px;

    &--souvenirs {
      grid-column-start: 3;
      grid-column-end: 4;
    }

    &--food {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 72px;

    &--housing {
      padding-left: 46px;
      padding-right: 46px;
    }
  }
}

.realsity__title {
  font-style: normal;
  font-weight: 700;
  font-size: @font-size;
  line-height: 26px;
  text-transform: uppercase;
  padding-top: 20px;
  margin: 0;

  &--inside {
    font-size: @font-size-big;
  }
}

.realsity__description {
  color: @color-text-grey;
  font-weight: 400;
  font-size: @font-size-min;
  line-height: 21px;
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 6px;
  margin: 0;

  @media (min-width: @tablet-width) {
    &--inside {
      line-height: 22px;
      padding-top: 20px;
      padding-bottom: 8px;
    }
  }
}

.realsity__item--housing,
.realsity__item--souvenirs,
.realsity__item--food {
  &::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    left: 20px;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 0;
    z-index: 3;

    @media (min-width: @tablet-width) {
      width: 76px;
      height: 76px;
      top: 58px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.realsity__item--housing {
  &::before {
    top: 9px;
    background-image: url("../img/icon-house.svg");
    background-size: 39px;

    @media (min-width: @tablet-width) {
      top: 58px;
      background-size: 75px;
    }
  }
}

.realsity__item--souvenirs {
  br {
    display: none;

    @media (min-width: @desktop-width) {
      display: inline;
    }
  }

  &::before {
    top: 8px;
    background-image: url("../img/icon-gift.svg");
    background-size: 32px;

    @media (min-width: @tablet-width) {
      top: 58px;
      background-size: 64px;
    }
  }
}

.realsity__item--food {
  &::before {
    top: 12px;
    left: 18px;
    background-image: url("../img/icon-burger.svg");
    background-size: 40px;

    @media (min-width: @tablet-width) {
      top: 58px;
      left: 50%;
      background-size: 76px;
    }
  }
}
