.realsity {
  list-style: none;
  background-color: @color-background;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.realsity__item {
  padding: 20px;
  margin: 0;

  @media (min-width: @tablet-width) {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
  }
}

.realsity__title {
  font-style: normal;
  font-weight: bold;
  font-size: @font-size;
  line-height: 26px;
  text-transform: uppercase;
  padding: 20px;
  margin: 0;
}

.realsity__description {
  color: @color-text-grey;
  font-style: normal;
  font-size: @font-size-min;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

/*.realsity__item--housing {}
.realsity__item--souvenirs {}
.realsity__item--food {}*/
