.reasons__list {
  list-style: none;
  padding: 0;
}

.reasons__item {
  &--grey {
    background-color: @color-background-grey;
    padding: 25px;
    border-bottom: #d6d6d6 1px solid;
  }
}

.reasons__realsity,
.reasons__devil {
  background-color: @color-background-blue;
}
