.reasons {
  margin: 0;
}

.reasons__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reasons__item {
  margin: 0;
}

.reasons__grey {
  background-color: @color-background-grey;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-around;
  }
}

.reasons__item--grey {
  padding: 1px;
  border-bottom: #d6d6d6 1px solid;

  @media (min-width: @tablet-width) {
    border-bottom: none;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  .page-main__title {
    font-size: @font-size-big;
    padding: 40px 24px 4px 24px;
  }

  .page-main__description {
    margin-top: 10px;
    margin-bottom: 40px;
  }
}

.reasons__realsity,
.reasons__devil {
  background-color: @color-background-blue;

  @media (min-width: @tablet-width) {
    display: grid;
    height: 260px;
  }

  .page-main__title {
    color: @color-text-white;
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .page-main__description {
    color: @color-text-white;
    margin-top: 0;
    margin-bottom: 35px;
  }
}

.reasons__realsity {
  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 2fr;
  }
}

.reasons__devil {
  @media (min-width: @tablet-width) {
    grid-template-columns: 2fr 1fr;

    div:nth-child(1) {
      grid-column-start: 2;
      grid-column-end: 3;
    }

    div:nth-child(2) {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }
}

.reasons__img-realsity {
  height: 260px;
  background-image: url("../img/main-city-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}

.reasons__img-devil {
  height: 260px;
  background-image: url("../img/main-bridge-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}
