.review__wrapper {
  padding-top: 20px;
  margin-top: 15px;
  border-top: #e5e5e5 1px solid;

  @media (min-width: @tablet-width) {
    border: 0;
    padding: 0 8% 0 8%;
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 10% 0 10%;
  }
}

.review__forms {
  position: relative;
  padding: 0;
  margin: 0;

  input {
    height: 58px;
    font-size: @font-size;
    color: @color-text;
    background-color: #f2f2f2;
    border: 4px #f2f2f2 solid;
    outline: none;
    padding-left: 20px;
  }

  input:hover,
  input:focus {
    background-color: #e5e5e5;
    border: 4px #e5e5e5 solid;
  }

  input:active {
    background-color: @color-background;
    border: 4px solid #e5e5e5;
  }

  input::placeholder {
    color: @color-text;
    font-weight: 700;
  }

  label {
    font-size: @font-size-min;
    color: @color-text-grey;
    text-transform: uppercase;
    margin-right: 12px;
    outline: none;
  }

  textarea {
    width: 100%;
    height: 160px;
    background-color: #f2f2f2;
    color: @color-text;
    font-weight: 700;
    border: 4px #f2f2f2 solid;
    outline: none;
    padding: 14px 16px 14px 16px;
    margin-bottom: 20px;
  }

  textarea::placeholder {
    color: @color-text;
    font-weight: 700;
  }

  textarea:hover,
  textarea:focus {
    background-color: @color-background;
    border: 4px solid #e5e5e5;
  }

  .required-field {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;

    .required-field {
      display: block;
    }
  }
}

.review-button {
  width: 88%;
  margin: 30px 6% 0 6%;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin: 0;
    margin-top: 30px;
  }
}

.required-field {
  position: absolute;
  color: @color-text-grey;
  font-size: @font-size-min;
  text-transform: uppercase;
  bottom: 29px;
  right: 0;
}

.review__item {
  border: none;
  border-bottom: #e5e5e5 1px solid;
  padding: 0;
  padding-left: 6%;
  padding-right: 6%;
  margin: 0;
  margin-bottom: 20px;

  &--name {
    padding-bottom: 0;
  }

  &--contact,
  &--showplace {
    padding-bottom: 30px;
  }

  &--impressions,
  &--showplace {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    label {
      position: relative;
      color: @color-text;
      font-size: @font-size;
      font-weight: 700;
      text-transform: inherit;
      cursor: pointer;
      outline: none;
      padding-left: 70px;
      margin-bottom: 20px;
    }
  }

  @media (min-width: @tablet-width) {
    border-bottom: none;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 50px;

    &--contact,
    &--showplace {
      padding-bottom: 0;
    }

    &--impressions {
      grid-column: 1;
      grid-row: 1;
      position: relative;
      padding-right: 20px;

      ::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background: #dbdbdb;
      }
    }

    &--name {
      grid-column: 2;
      grid-row: 1;
      padding-left: 58px;
    }

    &--contact {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row: 2;
    }

    &--showplace,
    &--motion {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  @media (min-width: @desktop-width) {
    &--name {
      padding-left: 79px;
    }
  }
}

.review__title {
  color: @color-text;
  font-style: normal;
  font-weight: 700;
  font-size: @font-size;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: @font-size-big;
    margin-bottom: 50px;
  }
}

.review__item--contact {
  label {
    line-height: 46px;
    padding-left: 20px;
  }

  .review__title {
    @media (min-width: @tablet-width) {
      margin-bottom: 20px;
    }
  }
}

.review__item--name .review__title {
  @media (min-width: @tablet-width) {
    text-align: left;
  }
}

.review__item--name div {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 20px;

  label {
    line-height: 58px;
    max-width: 75px;
  }

  input {
    width: 100%;
  }
}

.review__item--motion {
  @media (min-width: @tablet-width) {
    margin-bottom: 10px;
  }
}

.impressions__radio + label::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  left: 0;
  top: -15px;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: 5px solid #f2f2f2;
  outline: none;

  &:hover,
  &:focus {
    background-color: #e5e5e5;
    border: 5px solid #e5e5e5;
  }

  &:disabled {
    background-color: #d5d5d5;
    border: 5px solid #d5d5d5;
  }
}

.impressions__radio:checked + label::before {
  position: absolute;
  content: "";
  left: 15px;
  top: 0;
  border: none;
  width: 18px;
  height: 18px;
  background-color: @color-text;
  box-shadow: 0 0 0 15px #f2f2f2;
  outline: none;

  &:hover,
  &:focus {
    background-color: #e5e5e5;
    border: 5px solid #e5e5e5;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.contact-wrapper {
  input {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      width: 100%;
    }

    input {
      width: 315px;
    }
  }
}

.impressions-wrapper {
  div {
    padding: 29px 0 29px 0;
  }
}

.showplace-wrapper {
  div {
    padding: 22px 0 22px 0;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
      width: 259px;
      padding: 30px 0 30px 0;
    }
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;

    div {
      width: auto;
    }
  }

  label::before {
    position: absolute;
    content: "";
    top: -19px;
    left: 0;
    width: 56px;
    height: 56px;
    background: #f2f2f2;
  }

  input:hover + label::before,
  input:focus + label::before {
    background-color: #e5e5e5;
  }

  input:checked + label::before {
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 23px;

    &:disabled {
      opacity: 0.3;
    }
  }

  input:disabled + label::before {
    background-color: #d5d5d5;
  }
}

@media (min-width: @desktop-width) {
  .text-vanish {
    display: none;
  }
}
