.review__wrapper {
  position: relative;
  padding-top: 20px;
  margin-top: 15px;
  border-top: #e5e5e5 1px solid;

  @media (min-width: @tablet-width) {
    border: 0;
    padding: 0 8% 0 8%;
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 10% 0 10%;
    margin-top: 0;
  }
}

.review__forms {
  position: relative;
  padding: 0;
  margin: 0;

  input {
    height: 58px;
    font-size: @font-size;
    color: @color-text;
    background-color: #f2f2f2;
    border: 4px #f2f2f2 solid;
    outline: none;
    padding-left: 20px;
  }

  input:hover,
  input:focus {
    background-color: #e5e5e5;
    border: 4px #e5e5e5 solid;
  }

  input:active {
    background-color: @color-background;
    border: 4px solid #e5e5e5;
  }

  input::placeholder {
    color: @color-text;
    font-weight: 700;
  }

  label {
    font-size: @font-size-min;
    color: @color-text-grey;
    text-transform: uppercase;
    margin-right: 12px;
    outline: none;
  }

  textarea {
    width: 100%;
    height: 160px;
    background-color: #f2f2f2;
    color: @color-text;
    font-weight: 700;
    border: 4px #f2f2f2 solid;
    outline: none;
    padding: 14px 16px 14px 16px;
    margin-bottom: 20px;
  }

  textarea::placeholder {
    color: @color-text;
    font-size: @font-size;
    font-weight: 700;
  }

  textarea:hover,
  textarea:focus {
    background-color: @color-background;
    border: 4px solid #e5e5e5;
  }

  .required-field {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;

    .required-field {
      display: block;
    }
  }
}

.review__item {
  border: none;
  border-bottom: #e5e5e5 1px solid;
  padding: 0;
  padding-left: 6%;
  padding-right: 6%;
  margin: 0;
  margin-bottom: 20px;

  &--name {
    padding-bottom: 0;

    @media (min-width: @tablet-width) {
      .review__title {
        text-align: left;
      }
    }
  }

  &--impressions,
  &--showplace {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    label {
      position: relative;
      color: @color-text;
      font-size: @font-size;
      font-weight: 700;
      text-transform: inherit;
      cursor: pointer;
      outline: none;
      padding-left: 70px;
      margin-bottom: 20px;
    }
  }

  @media (min-width: @tablet-width) {
    border-bottom: none;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 50px;

    &--impressions {
      grid-column: 1;
      grid-row: 1;
      position: relative;
      padding-right: 20px;

      ::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background: #dbdbdb;
      }
    }

    &--name {
      grid-column: 2;
      grid-row: 1;
      padding-left: 58px;
    }

    &--contact {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row: 2;
    }

    &--showplace,
    &--motion {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  @media (min-width: @desktop-width) {
    &--name {
      padding-left: 79px;
    }
  }
}

.review__title {
  width: 100%;
  color: @color-text;
  font-style: normal;
  font-weight: 700;
  font-size: @font-size;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: @font-size-big;
    margin-bottom: 50px;
  }
}

fieldset legend {
  text-align: center;
}

.review__item--contact {

  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }

  label {
    line-height: 46px;
    padding-left: 20px;

    @media (min-width: @desktop-width) {
      padding-left: 0;
    }
  }

  .review__title {
    margin-bottom: 8px;

    @media (min-width: @tablet-width) {
      margin-bottom: 20px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 70px;
    }
  }
}

.review__item--impressions {

  padding-bottom: 17px;
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }

  .review__title {
    margin-bottom: 16px;

    @media (min-width: @tablet-width) {
      text-align: left;
      margin-bottom: 40px;
    }

    @media (min-width: @desktop-width) {
      text-align: center;
      padding-right: 48px;
    }
  }
}

.review__item--name div {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 20px;

  label {
    line-height: 58px;
    max-width: 75px;
  }

  input {
    width: 100%;
  }
}

.review__item--showplace {

  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
    margin-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 55px;
  }

  .review__title {
    margin-bottom: 10px;

    @media (min-width: @tablet-width) {
      margin-bottom: 42px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 35px;
    }
  }

  label {
    padding-left: 80px;
  }
}

.review__item--motion {
  @media (min-width: @tablet-width) {
    margin-bottom: 10px;
  }
}

.impressions__radio + label::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  left: 0;
  top: -15px;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: 5px solid #f2f2f2;
  outline: none;

  &:hover,
  &:focus {
    background-color: #e5e5e5;
    border: 5px solid #e5e5e5;
  }

  &:disabled {
    background-color: #d5d5d5;
    border: 5px solid #d5d5d5;
  }
}

.impressions__radio:checked + label::before {
  position: absolute;
  content: "";
  left: 15px;
  top: 0;
  border: none;
  width: 18px;
  height: 18px;
  background-color: @color-text;
  box-shadow: 0 0 0 15px #f2f2f2;
  outline: none;

  &:hover,
  &:focus {
    background-color: #e5e5e5;
    border: 5px solid #e5e5e5;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.contact-wrapper {
  input {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      width: 100%;
    }

    input {
      width: 315px;
    }
  }
}

.contact-phone,
.contact-email {
  position: relative;
}

.contact-phone label::before {
  position: absolute;
  content: "";
  top: 46px;
  right: 0;
  width: 58px;
  height: 58px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e6e6e6;
  z-index: 5;

  @media (min-width: @desktop-width) {
    top: 0;
    right: 58px;
  }
}

.contact-email label::before {
  position: absolute;
  content: "";
  top: 46px;
  right: 0;
  width: 58px;
  height: 58px;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e6e6e6;
  z-index: 5;

  @media (min-width: @desktop-width) {
    top: 0;
  }
}

.impressions {
  width: 100%;

  div {
    padding: 25px 0 25px 0;

    @media (min-width: @tablet-width) {
      padding: 29px 0 29px 0;
    }
  }
}

.showplace {

  width: 100%;

  div {
    padding: 30px 0 30px 0;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 55px;

    div {
      width: 259px;
    }
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    padding: 0;

    div {
      width: auto;
    }
  }

  label::before {
    position: absolute;
    content: "";
    top: -19px;
    left: 0;
    width: 56px;
    height: 56px;
    background: #f2f2f2;
  }

  input:hover + label::before,
  input:focus + label::before {
    background-color: #e5e5e5;
  }

  input:checked + label::before {
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 23px;

    &:disabled {
      opacity: 0.3;
    }
  }

  input:disabled + label::before {
    background-color: #d5d5d5;
  }
}

.review-button {
  width: 88%;
  margin: 0 6% 40px 6%;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin: 0;
    margin-bottom: 0;
    margin-top: 30px;
  }
}

.required-field {
  width: 45%;
  position: absolute;
  color: @color-text-grey;
  font-size: @font-size-min;
  text-transform: uppercase;
  text-align: right;
  bottom: 29px;
  right: 0;
}

@media (min-width: @desktop-width) {
  .text-vanish {
    display: none;
  }
}

/*Pop-ap Ошибка*/
.review-error {
  position: absolute;
  width: 320px;
  height: 280px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 450px;
  color: @color-text;
  font-size: @font-size-min;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background-color: @color-background;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
  padding: 0;
  margin: 0;
  z-index: 11;

  .review-error__text {
    padding: 20px 40px 10px 40px;

    p {
      margin-bottom: 20px;
    }
  }

  button {
    width: 180px;
  }

  @media (min-width: @tablet-width) {
    width: 400px;
    height: 347px;
    bottom: 170px;

    .review-error__text {
      padding-top: 0;

      p {
        margin-bottom: 27px;
      }
    }

    .review__title {
      font-size: 30px;
      line-height: 40px;
      padding: 0 36px 0 36px;
      margin-top: 43px;
      margin-bottom: 28px;
    }

    button {
      width: 272px;
    }
  }
}

/*Pop-ap Отправлен*/
.review-sent {
  position: absolute;
  width: 320px;
  height: 323px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 110px;
  color: @color-text;
  font-size: @font-size-min;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background-color: @color-background;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
  padding: 0;
  margin: 0;
  z-index: 10;

  @media (min-width: @tablet-width) {
    width: 640px;
    height: 347px;
    bottom: 320px;

    .review__title {
      font-size: 30px;
      margin-top: 43px;
      margin-bottom: 28px;
    }
  }
}

.review-sent__text {
  padding: 20px 40px 10px 40px;

  p {
    margin-bottom: 27px;

    @media (min-width: @tablet-width) {
      margin-bottom: 30px;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 20px 110px 10px 110px;
  }
}

.review-sent__button {
  width: 100%;
  height: 98px;
  background-color: #f2f2f2;
  padding-top: 21px;

  button {
    width: 280px;
  }

  @media (min-width: @tablet-width) {
    height: 146px;
    padding-top: 46px;

    button {
      width: 458px;
    }
  }
}

.review-sent__button-close {
  display: none;
}
