.searchhotel {
  text-align: center;
}

.searchhotel__title {
  color: @color-text;
  font-style: normal;
  font-weight: bold;
  font-size: @font-size-big;
  line-height: 26px;
  text-transform: uppercase;
}

.searchhotel__description {
  max-width: 458px;
  color: @color-text-grey;
  font-style: normal;
  font-size: @font-size-min;
  line-height: 26px;
  text-transform: uppercase;
  margin: auto;
}

.searchhotel-button {
  width: 280px;
  background-color: @color-background-blue;
  margin: 20px 0 50px 0;

  @media (min-width: @tablet-width) {
    width: 458px;
    margin-top: 30px;
  }
}

.searchhotel__map {
  height: 350px;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  background-color: @color-background-blue;
  background-image: url("../img/bg-map-desktop@1x.jpg");
}
