.searchhotel {
  text-align: center;
}

.searchhotel__title {
  color: @color-text;
  font-style: normal;
  font-weight: 700;
  font-size: @font-size-big;
  line-height: 26px;
  text-transform: uppercase;
  overflow-wrap: manual;
  margin-top: 32px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    margin-top: 58px;
    margin-bottom: 34px;
  }
}

.searchhotel__description {
  max-width: 458px;
  color: @color-text-grey;
  font-style: normal;
  font-size: @font-size-min;
  line-height: 24px;
  text-transform: uppercase;
  margin: auto;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    max-width: 498px;

    br {
      display: block;
    }
  }
}

.searchhotel-button {
  width: 87.5%;
  padding-top: 15px;
  margin: 29px 0 50px 0;

  @media (min-width: @tablet-width) {
    width: 458px;
    margin: 38px 0 60px 0;
  }
}

.searchhotel__map {
  height: 350px;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  background-color: #f4f2eb;
  background-image: url("../img/bg-map-desktop@1x.jpg");
}
