.social {
  display: flex;
  justify-content: center;
  align-self: center;

  @media (min-width: @tablet-width) {
    padding-right: 10px;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social__item a {
  position: relative;
  width: 46px;
  height: 48px;
  display: flex;
  background-color: @color-background-blue;
  margin: 3px;

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.social__link--icon-twitter,
.social__link--icon-facebook,
.social__link--icon-youtube {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  fill: #ffffff;

  .social__link a[href]:active & {
    opacity: 0.3;
  }
}
